<h2>Search Country</h2>
<hr>
<ul class="list-group">
  <!-- <li  routerLink="" routerLinkActive ="active"  [routerLinkActiveOptions]="{exact:true}" class="list-group-item">Home Page</li>
  <li routerLink="about" routerLinkActive ="active" class="list-group-item ">About Page</li>
  <li routerLink="contact" routerLinkActive ="active" class="list-group-item ">Contac Page</li> -->
  <li routerLink="country/by-capita" routerLinkActive ="active" class="list-group-item ">By Capital</li>
  <li routerLink="country/by-country" routerLinkActive ="active" class="list-group-item ">By country</li>
  <li routerLink="country/by-region" routerLinkActive ="active" class="list-group-item ">By region</li>

</ul>
